<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
<!--
    使用spring创建对象，在spring中这些都称为Bean

    bean = 对象  new Hello()

    id: 变量名
    class： new 的对象
-->
    <bean id="hello" class="com.lx.pojo.Hello">
        <property name="str" value="Spring"></property>
    </bean>
<!--  name别名  -->
    <bean id="user" class="com.lx.pojo.User" name="u1 u2, u3; u4">
<!--        <property name="name" value="刘协"></property>-->
        <constructor-arg index="0" value="liuxue"></constructor-arg>
    </bean>

</beans>