<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lx.dao.UserDao">
    <select id="getUserList" resultType="com.lx.pojo.User">
        select * from mybatis.user
    </select>

    <select id="getUserById" resultType="com.lx.pojo.User" parameterType="int">
        select * from mybatis.user where id = #{id}
    </select>

    <insert id="addUser" parameterType="com.lx.pojo.User">
        insert into mybatis.user (id, name, password) values (${id}, #{name},  #{password})
    </insert>

    <insert id="addUser2" parameterType="map">
        insert into mybatis.user (id, name, password) values (${userId}, #{userName},  #{userPassword})
    </insert>

    <update id="updateUser" parameterType="com.lx.pojo.User">
        update mybatis.user set name = ${name}, password = ${password} where id = #{id};
    </update>

    <delete id="delUser" parameterType="com.lx.pojo.User">
        delete from mybatis.user where id = ${id}
    </delete>
</mapper>